*.root
*.pckl

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
.vscode/
helpers/.vscode/

# Jupyter Notebook
.ipynb_checkpoints
